
    <!-- Page Content -->
 <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Services
        <small>Subheading</small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Services">Services</a>
        </li>
        <li class="breadcrumb-item active">Sourcing</li>
    </ol>
    <!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="http://placehold.it/1200x300" alt="">
    <!-- Marketing Icons Section -->
     <p>
         Nanotech Sourcing Solutions is a solutions based organization focused on helping customers meet their sourcing needs.
     </p>
     <p>Whether the goal is to find a specific product, streamline a purchasing need, or manage inventory, we focus on finding the solution for our customers.</p>
     <p>Nanotech is a one source solution for Capital Equipment, Parts & Service, Materials, Chemicals, Testing, Waste Management, and Human Expertise. We focus on creating value and synergy while providing products and services.</p>
    <div class="row">
        
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                
                <div class="card-body">
                    <h4 class="card-title">
                        SOURCING SOLUTIONS
                    </h4>
                    <div >
                        <ul>
                            <li>
                                <p>OUR SOURCING CAPABILITIES FOR PRODUCTS & SERVICES ALLOW OUR CUSTOMERS TO FOCUS ON THEIR CORE BUSINESS</p>
                            </li>
                            <li>
                                <p>WE HELP OUR CUSTOMERS AND PARTNERS REACH EFFICIENCY AND MAXIMUM MARKET GROWTH BY PROVIDING SPECIALIZED SERVICE, TECHNICAL EXPERTISE, MINIMAL SEARCH PROCESS, AND THE BEST PRODUCTS AVAILABLE IN THE MARKET</p>
                            </li>
                            <li>
                                <p>WITH OUR MANUFACTURING SEGMENT, WE CARRY A SUPERIOR LINE OF PRODUCTS THAT INCLUDE SPECIALTY CHEMICALS & MATERIALS</p>
                            </li>
                            <li>
                                <p>WHETHER THE SOLUTION IS FINDING THE RIGHT PRODUCT OR CUSTOM MIXING, WE CAN HELP</p>
                            </li>
                            <li>
                                <p>WITH OUR CONSULTING SERVICES, WE ARE COMMITTED TO PROVIDING TECHNICAL ASSISTANCE, DEFINING YOUR SPECIFIC REQUIREMENTS, AND PROVIDING BEST SOLUTIONS AND PRODUCTS</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                
                <div class="card-body">
                    <h4 class="card-title">
                        WHAT WE OFFER
                    </h4>
                    <div>
                        <ul>
                            <li>
                                <p>PRODUCT SEARCH AND PURCHASE STREAMLINING</p>
                            </li>
                            <li>
                                <p>AVAILABLE ALTERNATIVE SOURCING IF CUSTOMER IS NOT SATISFIED</p>
                            </li>
                            <li>
                                <p>PRODUCT SCOUTING</p>
                            </li>
                            <li>
                                <p>CUSTOM CHEMICAL MIXING</p>
                            </li>
                            <li>
                                <p>TESTING</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- /.row -->
</div>